In [2]:
#libraries 
!pip3 install yfinance
import yfinance as yf
import numpy as np 
import pandas as pd
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt
yf.pdr_override() 
import datetime as dt 
from dateutil.relativedelta import relativedelta

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.7 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 31.3 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [34]:
#Get tickers symbols the ASX
table = pd.read_html('https://en.wikipedia.org/wiki/S%26P/ASX_200')[0]
table['Code'][:3]

0    360
1    A2M
2    ABC
Name: Code, dtype: object

In [28]:
list_of_companies = []
for asset in table['Code']:
  list_of_companies.append(asset+'.AX')
print(list_of_companies)

['360.AX', 'A2M.AX', 'ABC.AX', 'ABP.AX', 'AGL.AX', 'AIA.AX', 'AKE.AX', 'ALD.AX', 'ALL.AX', 'ALQ.AX', 'ALU.AX', 'ALX.AX', 'AMC.AX', 'AMP.AX', 'ANN.AX', 'ANZ.AX', 'APA.AX', 'APE.AX', 'SQ2.AX', 'APX.AX', 'ARB.AX', 'ARF.AX', 'ASX.AX', 'AUB.AX', 'AWC.AX', 'AZJ.AX', 'BAP.AX', 'BEN.AX', 'BGA.AX', 'BHP.AX', 'BKL.AX', 'BKW.AX', 'BLD.AX', 'BOQ.AX', 'BPT.AX', 'BRG.AX', 'BSL.AX', 'BWP.AX', 'BXB.AX', 'CAR.AX', 'CBA.AX', 'CCP.AX', 'CDA.AX', 'CGC.AX', 'CGF.AX', 'CHC.AX', 'CHN.AX', 'CIA.AX', 'CIM.AX', 'CIP.AX', 'CKF.AX', 'CLW.AX', 'CMW.AX', 'CNI.AX', 'CNU.AX', 'COH.AX', 'COL.AX', 'CPU.AX', 'CQR.AX', 'CSL.AX', 'CSR.AX', 'CTD.AX', 'CUV.AX', 'CWN.AX', 'CWY.AX', 'DHG.AX', 'DMP.AX', 'DOW.AX', 'DRR.AX', 'DXS.AX', 'EDV.AX', 'ELD.AX', 'EML.AX', 'EVN.AX', 'EVT.AX', 'FBU.AX', 'FLT.AX', 'FMG.AX', 'FPH.AX', 'GMG.AX', 'GNC.AX', 'GOR.AX', 'GOZ.AX', 'GPT.AX', 'GUD.AX', 'HLS.AX', 'HUB.AX', 'HVN.AX', 'IAG.AX', 'IEL.AX', 'IFL.AX', 'IGO.AX', 'ILU.AX', 'IMU.AX', 'INA.AX', 'ING.AX', 'IPH.AX', 'IPL.AX', 'IRE.AX', 'IVC.AX', 'JBH.AX', 'JHG.AX', 'JHX.AX', 'KLS.AX', 'LIC.AX', 'LLC.AX', 'LNK.AX', 'LTR.AX', 'LYC.AX', 'MFG.AX', 'MGR.AX', 'MIN.AX', 'MP1.AX', 'MPL.AX', 'MQG.AX', 'MSB.AX', 'MTS.AX', 'NAB.AX', 'NAN.AX', 'NCM.AX', 'NEC.AX', 'NHF.AX', 'NIC.AX', 'NSR.AX', 'NST.AX', 'NUF.AX', 'NVX.AX', 'NWL.AX', 'NWS.AX', 'NXT.AX', 'ORA.AX', 'ORG.AX', 'ORI.AX', 'OZL.AX', 'PBH.AX', 'PDL.AX', 'PDN.AX', 'PLS.AX', 'PME.AX', 'PMV.AX', 'PNI.AX', 'PNV.AX', 'PPT.AX', 'PRU.AX', 'PTM.AX', 'QAN.AX', 'QBE.AX', 'QUB.AX', 'REA.AX', 'REH.AX', 'RHC.AX', 'RIO.AX', 'RMD.AX', 'RMS.AX', 'RRL.AX', 'RWC.AX', 'S32.AX', 'SBM.AX', 'SCG.AX', 'SCP.AX', 'SDF.AX', 'SEK.AX', 'SFR.AX', 'SGM.AX', 'SGP.AX', 'SGR.AX', 'SHL.AX', 'SKC.AX', 'SLR.AX', 'SOL.AX', 'SPK.AX', 'STO.AX', 'SUL.AX', 'SUN.AX', 'SVW.AX', 'TLX.AX', 'TAH.AX', 'TCL.AX', 'TLS.AX', 'TNE.AX', 'TPG.AX', 'TWE.AX', 'TYR.AX', 'UMG.AX', 'URW.AX', 'UWL.AX', 'VCX.AX', 'VEA.AX', 'VUK.AX', 'WBC.AX', 'WEB.AX', 'WES.AX', 'WHC.AX', 'WOR.AX', 'WOW.AX', 'WPL.AX', 'WPR.AX', 'WTC.AX', 'XRO.AX', 'Z1P.AX']

In [29]:
#Create function to identified performances
def RoRcalculator(list_of_companies, period):
    rorlist = []
    for i in list_of_companies:
        data = yf.Ticker(i)
        data = data.history(period=period)
        ror = (data.Close[-1] - data.Close[0]) / data.Close[0] * 100
        rorlist.append(ror)
    result = pd.DataFrame(data = {'Ticker': list_of_companies, "RoR": rorlist})
    return result






asx200ror = RoRcalculator(list_of_companies, period="63d")

In [31]:
#checking if we have any kind of problem in our database
asx200ror.loc[asx200ror.RoR.isna()]

Empty DataFrame
Columns: [Ticker, RoR]
Index: []

In [42]:
asx200 = asx200ror.sort_values(by='RoR', ascending = False)
print(asx200)

     Ticker        RoR
192  WHC.AX  60.545739
163  SGM.AX  41.225356
125  NUF.AX  39.705878
195  WPL.AX  35.173764
143  PRU.AX  33.259748
..      ...        ...
93   IMU.AX -39.436617
182  TYR.AX -43.702287
175  TLX.AX -44.864228
134  PBH.AX -47.936510
199  Z1P.AX -67.546173

[200 rows x 2 columns]

In [50]:
#Top 5 performance companies in Australia ASX200 in the last 63 days 
print(round(asx200[:5].sort_values(by='RoR', ascending= False),2))

     Ticker    RoR
192  WHC.AX  60.55
163  SGM.AX  41.23
125  NUF.AX  39.71
195  WPL.AX  35.17
143  PRU.AX  33.26

In [51]:
#Top 5 worst companies in Australia ASX200 in the last 63 days 
print(round(asx200[-5:].sort_values(by='RoR'),2))

     Ticker    RoR
199  Z1P.AX -67.55
134  PBH.AX -47.94
175  TLX.AX -44.86
182  TYR.AX -43.70
93   IMU.AX -39.44